@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&family=Open+Sans:wght@300;400;500;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0c0ce94d;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.212);
}

.form-image {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#4481eb;
    padding: 1rem;
}

.form-image img {
    width: 31rem;
}

.form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:  #f0f0f0;
    padding: 3rem;
}

.content .input-box{
    border-bottom: 1px solid black;
}

.content .input-box .option{
    display: flex;
    flex-wrap: wrap;
    width: 95%;
    padding: 0 10px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
    color:  #2f4f4f;
}

.content .input-box .option:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 2);
}

h2{
    font-size: 26px;
    font-weight: 600;
    text-align: left;
    color: #2f4f4f;
    padding-bottom: 2px;
    border-bottom: 1px solid silver;
}

.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px 0;
}

.input-box{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-bottom: 15px;
}

.input-box:nth-child(2n){
    justify-content: end;
}

.input-box label, .gender-title{
    width: 95%;
    color: #2f4f4f;
    font-weight: bold;
    margin: 5px 0;
    font-size: 18px;
}

.gender-title{
    font-size: 18px;
}

.input-box input{
    height: 40px;
    width: 95%;
    padding: 0 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    outline: none;
}
.input-box input:is(:focus,:valid){
    box-shadow: 0 3px 6px rgba(0, 0, 0, 2);
}

.gender-category{
    color: gray;
}

.gender-category label{
    padding: 0 20px 0 5px;
    font-size: 14px;
}

.gender-category label, .gender-category input{
    cursor: pointer;
}

.button-container{
    width: 100%;
    padding-bottom: -15px;
}

.button-container button{
    width: 100%;
    margin-top: 5px;
    padding: 7px;
    cursor: pointer;
    border-radius: 10px;
    background: transparent;
    border: 1px solid #4481eb;
    font-size: 20px;
    display: block;
}

.button-container button:hover{
    background: #4481eb;
    color: #fff;
    transition: 0.5s;
}

.button-container button i{
    padding-right: 5px;
    font-size: 25px;
}

.content p{
    margin-top: -15px;
    margin-bottom: -10px;
}

 /* CSS for invalid input animation */
 .invalid {
    border: 2px solid red;
    animation: shake 0.3s;
}

.error-message{
    margin-top: 10px;
    margin-bottom: -12px;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.error-message {
    color: red;
    display: none;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}